doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
        link(rel="stylesheet" href="/css/tasks/styles.css")
        script(type="text/javascript" src="/js/tasks/app.js")
        script(type="text/javascript" src="/js/users/image.js")
        script(type="text/javascript" src="/taskUtility.js")
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        title=pageTitle + " - " + currentPage
    body
        div(id="sidebar")
            div(id="user")
                div(id="user-img-area" onclick="viewUserInfo()")
                        if userimg
                            img(name="user-img" id="user-img" src="/data/uploads/img/profile/" + userimg style="width: 50px; height: 50px")
                div(id="user-info")
                    a(id="nickname")=nickname
                    if nickname = true
                        div
                            button(id="user-info-btn" name="user-info-btn" onclick="viewUserInfo()") 내정보
                            button(id="logout-btn" name="logout-btn" onclick="logout()") 로그아웃
            div(id="search-tasks-area")
                form(onsubmit="event.preventDefault(); searchTasks();", autocomplete="off" method="get" style="display:flex;") 
                    input(type="text" id="search-text" placeholder="Search")
                    button(type="submit" id="search-btn")
                        i(id="search-icon" class="fa fa-search")
            ul(class="categories-list" id="common-categories")
                li(class="category")
                    span(class="category-name today")="오늘 할 일"
                li(class="category")
                    span(class="category-name importance")="중요"
                li(class="category")
                    span(class="category-name planed")="계획된 일정"
                li(class="category")
                    span(class="category-name work")="작업"
            div(id="division-line")
            ul(class="categories-list" id="personal-categories")
            div(id="create-category")
                div(style="position: absolute; float: left; height: 54px;")
                    button(type="submit" name="create-category-button" id="create-category-button") 목록 추가
                    label(for="create-category-button")
                div(style="height:100%; margin-left: 45px")
                    input(type="text" name="create-category-name" id="create-category-name" placeholder="새 목록" autocomplete="off")
        div(id="content")
            div(id="top")
                span(class="category-title")
                    span(class="category-title-text")
                button(class="delete-category-button")
                    span(class="fa fa-trash button-icon")
            div(id="tasks")
            div(id="bottom-area")
                form(id="post-todo" onsubmit="event.preventDefault(); postTask();" autocomplete="off" method="post") 
                    div(style="position: absolute; float: left; height: 54px;")
                        button(type="submit" name="post-btn" id="post-task-btn") 작업 추가
                        label(for="post-task-btn")
                    div(style="height:100%; margin-left: 45px")
                        input(type="text" name="post-msg" id="post-task-msg" placeholder="작업 추가" autocomplete="off")