doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
        link(rel="stylesheet" href="/css/tasks/styles.css")
        script(type="text/javascript" src="/js/tasks/app.js")
        //- script(type="text/javascript" src="/js/users/image.js")
        script(type="text/javascript" src="/taskUtility.js")
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        title=pageTitle + " - " + currentPage
    body
        div(id="sidebar")
            div(id="user")
                div(id="user_img_area" onclick="viewUserInfo()")
                        if userimg
                            img(name="user_img" id="user_img" src="/data/uploads/img/profile/" + userimg style="width: 50px; height: 50px")
                div(id="user_info")
                    a(id="username")=username
                    if username = true
                        div
                            button(id="user_info_btn" name="user_info_btn" onclick="viewUserInfo()") 내정보
                            button(id="logout_btn" name="logout_btn" onclick="logout()") 로그아웃
            div(id="search_tasks_area")
                form(onsubmit="event.preventDefault(); searchTasks();", autocomplete="off" method="get" style="display:flex;") 
                    input(type="text" id="search_text" placeholder="Search")
                    button(type="submit" id="search_btn")
                        i(id="search_icon" class="fa fa-search")
            ul(class="categories_list" id="common_categories")
                li(class="category")
                    a(href="/tasks/today" class="category_name")="오늘 할 일"
                li(class="category")
                    a(href="/tasks/import" class="category_name")="중요"
                li(class="category")
                    a(href="/tasks/plan" class="category_name")="계획된 일정"
                li(class="category")
                    a(href="/tasks/work" class="category_name" onclick="")="작업"
            div(id="division_line")
            ul(class="categories_list" id="personal_categories")
                //- each category in categories
                //-     if category.name != "오늘 할 일" && category.name != "중요" && category.name != "계획된 일정" && category.name != "작업"
                //-         li(class="category")
                //-             a(href="/tasks/category?categoryId=" + category.id class="category_name")=category.name
            div(id="new_list")
                div(style="position: absolute; float: left; height: 54px;")
                    button(type="submit" name="new_list_btn" id="new_list_btn" onclick="addCategory()") 목록 추가
                    label(for="new_list_btn")
                div(style="height:100%; margin-left: 45px")
                    input(type="text" name="new_list_name" id="new_list_name" placeholder="새 목록" autocomplete="off")
        div(id="content")
            div(id="top")
                div(id="title")
                    if currentPage != "오늘 할 일" && currentPage != "중요" && currentPage != "계획된 일정" && currentPage != "작업"
                        h1
                            a(id="category_title")=currentPage
                    else
                        h1(id="category_title")=currentPage
                if currentPage == "오늘 할 일"
                    div(id="today_area")
                        h2= today
                if currentPage != "오늘 할 일" && currentPage != "중요" && currentPage != "계획된 일정" && currentPage != "작업" && currentPage != "검색 결과"
                    div(id="delete_category_area")
                        button(class="category_icon_area" id="rename_category" onclick="renameCategory()")
                            i(id="edit_icon" class="fa fa-pencil-square")
                        button(class="category_icon_area" id="delete_category" onclick="deleteCategory()")
                            i(id="trash_icon" class="fa fa-trash")
            div(id="tasks")
            div(id="bottom_area")
                form(id="post_todo" onsubmit="event.preventDefault(); postTask();" autocomplete="off" method="post") 
                    div(style="position: absolute; float: left; height: 54px;")
                        button(type="submit" name="post_btn" id="post_task_btn") 작업 추가
                        label(for="post_task_btn")
                    div(style="height:100%; margin-left: 45px")
                        input(type="text" name="post_msg" id="post_task_msg" placeholder="작업 추가" autocomplete="off")