extends layout.pug

block append meta
    meta(name="csrf-token" content=CSRFToken)

block append scripts
    script(type="text/javascript" src="/js/users/app.js")
    script(src="https://www.google.com/recaptcha/api.js" async defer)

block stylesheet
        link(rel="stylesheet" href="/css/users/style.css")

block title
    title=pageTitle + " - 로그인"

block append content
    div(id="main")
        form(onsubmit="event.preventDefault(); login();", autocomplete="off" method="post") 
            div(class="input_wrap", id="id_input_wrap")
                label(class="login_label" for="id") 아이디
                input(type="text", name="id", id="id")
            div(class="input_wrap", id="pswd_input_wrap")
                label(class="login_label" for="pswd") 비밀번호
                input(type="password", name="pswd", id="pswd")
            div(id="keep_login_wrap")
                input(type="checkbox", name="keep_login", id="keep_login")
                label(class="keep_login_label" for="keep_login") 로그인 유지하기
            div(class="g-recaptcha hidden" data-sitekey=recaptchaClientKey)
            div(class="submit_btn_wrap")
                button(class="submit_btn" id="login_btn" type="submit") 로그인
        a(href=naverApi_url id="naver_login")
            img(id="naver_login_img" alt="naver login image" src="/data/login/naver_login.png")
        a(href=kakaoApi_url id="kakao_login")
            img(id="kakao_login_img" alt="kakao login image" src="/data/login/kakao_login.png")
    div(id="user")
        div(class="find_user_wrap") 
            a(id="find_id_page_btn" href="/users/find/id") 아이디 찾기
            span  | 
            a(id="find_pswd_btn" href="/users/find/pswd") 비밀번호 찾기
        div(class="user_btn_page_wrap")
            a(id="join_page_btn" href="/users/join") 회원가입